<div class="card">
    <button *ngIf="!diffFav" (click)="favoriteButton(item)" class="fav_button" mat-fab color="rgba(255,255,255,1)" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite_border</mat-icon>
    </button>
    <button *ngIf="diffFav" (click)="favoriteButton(item)" class="fav_button" mat-fab color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <div (click)="detalle(item.id)">
        <img src="{{ item.thumbnail.path }}.{{ item.thumbnail.extension }}" class="card_imgde">
        <h3 class="text_img">{{ item.name }}</h3>
    </div>
</div>