<div class="container-fluid p-5">
  @if (comicsList(); as comicsList) {
    <div class="row mt-3">
      @for (item of comicsList; track item.id) {
        @defer (on viewport) {
          <div class="col-2 mt-3 mb-3">
            <!-- create component for comics cards -->
            <img
              src="{{ item?.thumbnail?.path }}.{{ item?.thumbnail?.extension }}"
              alt="..." />
            <p class="text-center">{{ item.title }}</p>
          </div>
        } @placeholder {
          <div class="col-2 mt-3 mb-3">
            <!-- add skeleton here while image hero is loading -->
            <div>loading...</div>
          </div>
        }
      }
    </div>
  } @else {
    <p>Cargando...</p>
  }
</div>
