@if (AllComics(); as AllComics) {
  <div class="row">
    <div class="col" style="display: flex; justify-content: space-between">
      <h1 style="margin: 0">COMICS</h1>

      <button mat-stroked-button color="warn" (click)="toggleSeeMoreButton()">
        <mat-icon
          [ngStyle]="{
            transform: seeMore() ? 'rotate(-90deg)' : 'rotate(90deg)',
            transition: 'transform 0.3s ease',
          }"
          >chevron_right</mat-icon
        >
        {{ seeMore() ? 'Ver menos' : 'Ver mas' }}
      </button>
    </div>
  </div>

  @if (seeMore()) {
    <div class="row" @fade>
      @for (item of AllComics; track item.id) {
        @defer (on viewport) {
          <div
            class="col-2 mt-3 mb-3"
            appScrollNearEnd
            (nearEnd)="onNearEndScroll()">
            <!-- create component for comics cards -->
            <img
              class="card_imgde"
              src="{{ item?.thumbnail?.path }}.{{ item?.thumbnail?.extension }}"
              alt="..." />
            <p class="text-center">{{ item.title }}</p>
          </div>
        } @placeholder {
          <div class="col-2 mt-3 mb-3">
            <!-- add skeleton here while image hero is loading -->
            <div>loading...</div>
          </div>
        }
      }
    </div>
  } @else {
    <div class="row" @fade>
      <div
        class="col d-inline-block overflow-hidden text-truncate p-0"
        *ngFor="let item of AllComics.slice(0, 10)">
        <img
          class="img-carousel"
          src="{{ item?.thumbnail?.path }}.{{ item?.thumbnail?.extension }}"
          alt="..."
          (click)="openPopUp(item)" />
        <p class="text-center">{{ item.title }}</p>
      </div>
    </div>
  }
} @else {
  <p>Cargando...</p>
}
