.redirect_comics {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: red;
}

.img-carousel {
    padding: 1rem;
    border-radius: 2rem;
    max-height: 14rem; 
    min-height: 14rem; 
    object-fit: cover;
}

p {
    margin-inline: 1rem;
}

.card_imgde{
    width: 100%;
    border-radius: 15px;
    min-width: 100%;
    min-height: 25em;
    max-height: 25em;
    object-fit: cover;
}