.redirect_comics {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: red;
}

.carousel-item img {
    max-height: 100px; /* Adjust height as needed */
    object-fit: cover; /* Ensures images cover the area */
    border-radius: 15px;
    max-height: 35em;
    max-width: 25em;
}