@if (AllComics(); as AllComics) {
  <h1 style="margin: 0">COMICS</h1>
  <a class="redirect_comics" [routerLink]="['/comics-list', detail().id]">
    Comics By hero
  </a>

  <div class="row">
    <div class="col d-inline-block overflow-hidden text-truncate p-0" *ngFor="let item of AllComics.slice(0, 10)">
      <img
        src="{{ item?.thumbnail?.path }}.{{ item?.thumbnail?.extension }}"
        alt="..."
        (click)="openPopUp(item)" />
      <p class="text-center">{{ item.title }}</p>
    </div>
  </div>
} @else {
  <p>Cargando...</p>
}
