.navbar{
    background: white;
    position: absolute;
    width: 100%;
    .btn{
        color: #FF3442;
        text-decoration: none;
        .icon_menu{
            vertical-align: sub;
        }
    }
}
.backdropClass{
    background: none;
}
