<nav class="navbar navbar-light justify-content-between mt-1">
  <div class="ms-5">
    <a [routerLink]="['']">
      <img id="head" src="../../../assets/images/Subtraction.svg" />
    </a>
  </div>
  <div class="row p-0 m-0 align-items-center">
    <div class="col">
      <button mat-fab extended color="warn" (click)="openPopUp()">
        <mat-icon>menu</mat-icon>
        Menu
      </button>
    </div>
    <div class="col">
      <p class="btn btn-link mb-0">{{ userData.email }}</p>
    </div>
  </div>
</nav>
