<app-top-toolbar></app-top-toolbar>
<div class="container-fluid p-5">
    <div *ngIf="isLoading">
        <div class="row">
            <div class="col-2">
                <p class="text-right" *ngIf="!diffOrder" (click)="changeOrder()"> {{results}} resultados <span class="ms-5"> a-z <img src="../../../../assets/icons/orden-listados.svg" class="icon_menu" alt="Bootstrap" width="10" height="10"></span> </p>
                <p class="text-right" *ngIf="diffOrder" (click)="changeOrder()"> {{results}} resultados <span class="ms-5"> z-a <img src="../../../../assets/icons/orden-listados.svg" style="transform: rotate(180deg);" class="icon_menu" alt="Bootstrap" width="10" height="10"></span> </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2 mt-2" *ngFor="let item of allCharacters | paginate: { itemsPerPage: 12, currentPage: page }">
                <app-card [item]="item"></app-card>
            </div>
        </div>
        <div class="text-center mt-5">
          <pagination-controls (pageChange)="onPageChange(page = $event)" previousLabel="" nextLabel=""></pagination-controls>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col d-flex align-items-center justify-content-center" style="min-height: 550px;">
            <div class="row">
                <div class="col-12">
                    <div class="text-center" >
                        <div class="spinner-grow" role="status"></div>
                    </div>
                </div>
                <div class="col-12 p-5">
                    <div class="text-center" >
                        <p>Iniciando...</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>