<div class="container-fluid p-5" appScrollNearEnd (nearEnd)="onNearEndScroll()">
  <div>
    @if (allCharacters(); as allCharacters) {
      <div class="row">

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput type="text" [(ngModel)]="InputFieldSearchValue" />
          <button *ngIf="InputFieldSearchValue()" matSuffix mat-icon-button aria-label="Clear" (click)="InputFieldSearchValue.set('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        
        <button color="warn" mat-stroked-button (click)="sortAllCharacters()">
          {{ charactersOrder() }}
        </button>

      </div>
      <div class="row mt-3">
        @for (item of allCharacters | CharacterFilter: InputFieldSearchValue(); track item.name) {
          @defer (on viewport) {
            <div class="col-2 mt-3 mb-3">
              <app-card [item]="item"></app-card>
            </div>
          } @placeholder {
            <div class="col-2 mt-3 mb-3">
              <!-- add skeleton here while image hero is loading -->
              <div>loading...</div>
            </div>
          }
        }
      </div>
    } @else {
      <p>Cargando...</p>
    }
  </div>
</div>
