<div class="container-fluid p-5" appScrollNearEnd (nearEnd)="onNearEndScroll()">
  <div>
    @if (allCharacters(); as allCharacters) {
      <div class="row">
        <!-- Put here a sort filter -->
      </div>
      <div class="row mt-3">
        @for (item of allCharacters; track item.name) {
          @defer (on viewport) {
            <div class="col-2 mt-3 mb-3">
              <app-card [item]="item"></app-card>
            </div>
          } @placeholder {
            <div class="col-2 mt-3 mb-3">
              <!-- add skeleton here while image hero is loading -->
              <div>loading...</div>
            </div>
          }
        }
      </div>
    } @else {
      <p>Cargando...</p>
    }
  </div>
</div>
