<div
  class="container mx-auto p-5 pt-20"
  appScrollNearEnd
  (nearEnd)="spinnerService.isLoading() ? '' : onNearEndScroll()">
  @if (allCharacters()) {
    <div class="flex flex-col space-y-4">
      <div class="flex justify-between">
        <search-field
          [InputSearch]="InputFieldSearchValue"
          [Offset]="offset"
          [CharactersList]="allCharacters" />
        <sort-button [charactersList]="allCharacters" />
      </div>
      <grid-list
        [charactersList]="allCharacters()"
        [InputSearch]="InputFieldSearchValue()" />
    </div>
  } @else {
    <p class="text-center">Cargando...</p>
  }
</div>
