<div class="container mx-auto px-4">
  <div class="flex justify-end mt-4">
    <mat-icon mat-dialog-close aria-hidden="false" aria-label="Close icon"
      >close</mat-icon
    >
  </div>
  <div class="mt-3 mb-3 flex justify-center">
    <button
      class="bg-red-500 text-white rounded-full py-2 px-4 w-4/5"
      (click)="authService.logout()">
      Cerrar sesión
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="flex justify-center">
    <div class="w-full">
      <mat-list role="list">
        <a style="text-decoration: none" [routerLink]="['/favorites-list']">
          <mat-list-item role="listitem" class="flex items-center">
            <button mat-icon-button>
              <mat-icon matPrefix class="ml-2 mr-3 text-red-500"
                >favorite</mat-icon
              >
              <span>Personajes favoritos</span>
            </button>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
        <a style="text-decoration: none" [routerLink]="['']">
          <mat-list-item role="listitem" class="flex items-center">
            <button mat-icon-button>
              <mat-icon matPrefix class="ml-2 mr-3">home</mat-icon>
              <span>Lista de personajes</span>
            </button>
          </mat-list-item>
        </a>
      </mat-list>
    </div>
  </div>
</div>
