<div class="container-fluid vh-100">
    <div class="row vh-100 justify-content-end">

        <div class="col-12 align-self-start m-0 p-0">
          <app-top-toolbar></app-top-toolbar>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 align-self-center m-5 p-5">

          <div class="card p-5 m-5">
            <div class="row">
                <div class="col-12 mt-5">
                        <h5 class="text-center">Continúe con</h5>
    
                </div>
                <div class="col-12 d-flex justify-content-between ps-5 pe-5 pt-2">
                    <button type="button" (click)="onGoogleLogin()" class="btn btn-gplus btn-lg btn-block waves-effect px-3">
                      <img src="../../../../assets/icons/Group-156.svg" class="icon_menu" alt="Bootstrap" width="30" height="30">
                    </button>
                    <button type="button" (click)="onFacebookLogin()" class="btn btn-fb btn-lg btn-block waves-effect px-3">
                      <img src="../../../../assets/icons/Path-536.svg" class="icon_menu" alt="Bootstrap" width="30" height="30">
                    </button>
                    <button type="button" class="btn btn-li btn-lg btn-block waves-effect px-3">
                      <img src="../../../../assets/icons/Group-1182.svg" class="icon_menu" alt="Bootstrap" width="30" height="30">
                    </button>
                </div>
            </div>
    
            <div class="card-body mt-3 ps-5 pe-5 border_bottom">
              <h5 class="text-center pb-3">O ingrese con correo</h5>
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Correo electrónico</mat-label>
                  <mat-icon matPrefix class="ms-2 me-3"><img src="../../../../assets/icons/user.svg" class="input_icons" alt="Bootstrap" width="15" height="15"></mat-icon>
                  <input type="email" matInput placeholder="Email" formControlName="email" required>

                  <mat-icon matSuffix class="ms-2 me-3" *ngIf="loginForm.get('email')?.value && loginForm.get('email')?.valid"><img src="../../../../assets/icons/Path-1685.svg" class="icon_menu" alt="Bootstrap" width="15" height="15"></mat-icon>
                  <mat-icon matSuffix class="ms-2 me-3" *ngIf="loginForm.get('email')?.value && !loginForm.get('email')?.valid"><img src="../../../../assets/icons/Union-34.svg" class="icon_menu" alt="Bootstrap" width="15" height="15"></mat-icon>
 
                  <mat-error>
                    Please provide a valid email address
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Contraseña</mat-label>
                  <mat-icon matPrefix class="ms-2 me-3"><img src="../../../../assets/icons/Group-152.svg" class="input_icons" alt="Bootstrap" width="15" height="15"></mat-icon>
                  <input matInput type="password" placeholder="Password" formControlName="password" required>

                  <mat-icon matSuffix class="ms-2 me-3" *ngIf="loginForm.get('password')?.value && loginForm.get('password')?.valid"><img src="../../../../assets/icons/Path-1685.svg" class="icon_menu" alt="Bootstrap" width="15" height="15"></mat-icon>
                  <mat-icon matSuffix class="ms-2 me-3" *ngIf="loginForm.get('password')?.value && !loginForm.get('password')?.valid"><img src="../../../../assets/icons/Union-34.svg" class="icon_menu" alt="Bootstrap" width="15" height="15"></mat-icon>
                  
                  <mat-error>
                    Please provide a valid password
                  </mat-error>
                </mat-form-field>
                <div class="form-group mt-5 pt-2 col-12 d-flex justify-content-center">
                  <button mat-raised-button color="warn" class="log_button">INGRESAR</button>
                </div>
              </form>
            </div>
          </div>

        </div>
    </div>
</div>