<div
  style="background-image: url('../../../assets/images/Image-2@2x.png')"
  class="flex items-center justify-end h-screen bg-gray-100 bg-cover">
  <div class="w-full max-w-md p-2">
    <div class="bg-white p-10 rounded-lg shadow-md">
      <h5 class="text-center text-lg font-semibold mb-5">Ingrese con correo</h5>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <input-field
          [control]="userNameControl"
          label="User name"
          placeholder="Enter your user name"
          type="text"
          [required]="true"
          prefixIcon="person"
          errorMessage="Please provide a valid user name"
          errorId="userNameError" />

        <input-field
          [control]="passwordControl"
          label="Contraseña"
          placeholder="Enter your password"
          type="password"
          [required]="true"
          prefixIcon="lock"
          errorMessage="Please provide a valid password"
          errorId="passwordError" />

        <div class="mt-5 pt-2 flex justify-center">
          <button
            type="submit"
            class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
            [disabled]="loginForm.invalid || isLoading">
            <span *ngIf="!isLoading">INGRESAR</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
