<app-top-toolbar></app-top-toolbar>
<div class="container-fluid p-5">
    <div class="row mt-3">
        <div class="col-8">
            <img class="hero_img" src="{{ detail?.thumbnail.path }}.{{ detail?.thumbnail.extension }}">
        </div>
        <div class="col-4">
            <div class="card p-5 card_description">
                <h1 class="text_img">{{ detail?.name }}</h1>
                <p class="text-start">{{ detail?.description }}</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h1>COMICS</h1>

            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of detailComics">
                  <ng-template carouselSlide id="slide.id">

                    <div class="card m-2" (click)="openPopUp(slide)">
                        <img class="card_comic" src="{{ slide?.thumbnail.path }}.{{ slide?.thumbnail.extension }}" >
                        <h5 class="text-center">{{ slide.title }}</h5>
                    </div>

                  </ng-template>
                </ng-container>  
            </owl-carousel-o>
        </div>
    </div>
</div>