<div class="container-fluid p-5">
    <mat-icon mat-dialog-close aria-hidden="false" style="float: right;" aria-label="Example home icon">close</mat-icon>
    <div class="row mt-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
            <img width="auto" height="500" src="{{ data.payload?.thumbnail.path }}.{{ data.payload?.thumbnail.extension }}">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
            <h1>{{ data.payload?.title }}</h1>
            <p class="text-start">
                <span style="color: #0090EF; font-size: 12px; font-weight: bold;">{{ data.date }}</span>
                <br>
                {{ data.payload?.description }}
            </p>
        </div>
    </div>
</div>