<div class="container-fluid p-5">
  @if (detail(); as detail) {
    <div class="row mt-3">
      <div class="col-8">
        <image-hero [detail]="detail" />
      </div>
      <div class="col-4">
        <info-hero [detail]="detail" />
      </div>
    </div>
    <!-- create component here for move outside all carusel logic -->
    @if (urlGetComics(); as urlGetComics) {
      <!-- create component here for redirect comics list page with hero id -->
      <a
        style="text-decoration: none"
        [routerLink]="['/comics-list', detail.id]">
        Comics By hero
      </a>
      <app-carusel-comics [urlComics]="urlGetComics"></app-carusel-comics>
    } @else {
      <p>Cargando...</p>
    }
  } @else {
    <p>Cargando...</p>
  }
</div>
